.container{
    width: 70vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    padding-top: 10px;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.header .section{
    background-clip: text;
    padding: 10px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid rgb(116, 54, 238);
    background-color: rgb(116, 54, 238);
}

.body{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0;
    gap: 15px;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row{
    display: flex;
    gap: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chips{
    display: flex;
    align-items: center;
    gap: 20px;
}
.chip{
    display: flex;
    gap: 5px;
    font-weight: 500;
    padding: 8px 5px;
    background-color: rgba(216, 216, 216, 0.7);
    border-radius: 20px;
    cursor: pointer;
}
.chip:hover{
    outline: 1px solid black;
}

.add{
    font-weight: bold;
    color: rgb(116, 54, 238);
    cursor: pointer;
    letter-spacing: 1px;
}
.add:hover{
    color: black;
    transition: 0.5s;
}

@media  screen and (max-width: 850px) {
    .container{
        width: fit-content;
}
}

button{
    background-color: rgb(76, 28, 250);
    border: none;
    outline: none;
    cursor: pointer;
    color:whitesmoke;
    border-radius: 5px;
    padding: 10px 18px;
    margin-right: 30px;
    width:fit-content;
}
button:hover{
    background-color: rgb(116, 54, 238);
    transition: 0.5s;
}
button:active{
    transform: translateY(2px);
}