*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App{
  width: 100%;
  display:flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .App{
    width: fit-content;
  }
  
}